* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    font-family: 'Courier New', Courier, monospace;
}

.prep {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}